@import "tailwindcss";
@import "./present/fonts.css";
@import "./present/containers.css";

body,
html {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: block;
    margin: 0px;
}
  html,
  body {
    height: 100%;
    background: #ffffff;
    font-family: "Montserrat";
  }
  
  html {
    scroll-behavior: smooth;
  }

  h1,
  p,
  button,
  span,
  input{
    font-family: 'Montserrat';
    /* font-size: 16px; */
  }

  h1{
    color: #8600AF;
    font-size: 40px;
  }

  label{
    font-family: 'Montserrat-Medium';
  }

  .m-section {
    padding: 170px 0px;
    overflow: hidden;
  }
  .m-section-new {
    padding: 125px 0px;
    overflow: hidden;
  }

  .p-tablist-tab-list {
    position: relative;
    display: flex;
    background: #ffffff;
    gap: 20px;
    border-style: solid;
    border-color: gray;
    border-width: var(--p-tabs-tablist-border-width);
}
button, input, select, optgroup, textarea, ::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  opacity: 1;
  font-family: "Montserrat";
}

.p-tabpanels {
  background: #ffffff;
  color: #000000;
  padding: var(--p-tabs-tabpanel-padding);
  outline: 0 none;
}
.p-tablist-active-bar {
  z-index: 1;
  display: block;
  position: absolute;
  inset-block-end: var(--p-tabs-active-bar-bottom);
  height: 2px;
  background: #b001ff;
  transition: 250mscubic-bezier(0.35,0,0.25,1);
}

input {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: black;
  opacity: 1;
  font-family: "Montserrat";
  width: 100%;
  padding: 13px 20px;
  border-radius: 100px;
}

.p-password-toggle-mask-icon {
  inset-inline-end: var(--p-form-field-padding-x);
  color: var(--p-password-icon-color);
  position: absolute;
  top: 33%;
  margin-top: 0;
  width: var(--p-icon-size);
  height: var(--p-icon-size);
  cursor: pointer;
}

.p-floatlabel:has(.p-inputwrapper-focus) label {
  color: #8600AF;
}
.p-floatlabel:has(input:focus) label {
  color: #8600AF;
}
.p-button-label {
  font-weight: 600;
}

.p-popover {
  background: white;
  color: #8D8D8D;
}